.menu-button{
    -fx-background-color: #ff9900;
    -fx-background-radius: 10;
    -fx-border-radius:10;
}

.menu-button:hover{
    -fx-background-color: #ffbd00;
    -fx-border-color: #ff0000;
}

.menu-item{
    -fx-font-size: 16px;
}

