.table-view .table-cell{
    -fx-font-size: 20px;
}

.table-view .column-header{
    -fx-font-size: 20px;
}

.table-row-cell:hover {
    -fx-background-color:#ff990080;
}

.table-row-cell:selected{
    -fx-background-color:#ff9900;
}

.table-column{
    -fx-alignment: CENTER;
}

.button{
    -fx-font-size: 15px;
}

